.btn-primary2 {
  background-color: #284e94;

  &:hover {
    background: #233873;
    border-color: transparent;
  }
}

.btn-info2 {
  background-color: #1793b8;

  &:hover {
    background: #1b7ea8;
    border-color: transparent;
  }
}