.school-title-container, .language-title-container {
  display: flex;
  align-items: center;
}

.school-icon, .language-icon {
  width: 55px;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 7.5%;
}

.school-title h5 {
  margin-bottom: 0.2rem;
  @media (min-width: 1050px) {
    width: 700px;
  }
  @media (min-width: 992px) and (max-width: 1049px) {
    width: 600px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 670px;
  }
}

.language-title h5 {
  margin-bottom: 0.2rem;
}

h5 span {
  float: right;
}

//.item-inner {
//  max-width: 800px;
//}

.responsive-adjust {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

img.responsive-hide {
  margin-left: 10px;
}

.responsive-hide {
  @media (max-width: 767px) {
    display: none;
  }
}

.responsive-show {
  @media (min-width: 768px) {
    display: none;
  }
}

.read-more-hide {
  display: none;
}

.github-calendar {
  margin-bottom: 20px;
}

.free-time {
  margin-top: 10px;
}
