.bookSection.row > * {
  flex-shrink: 0;
  width: auto;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: var(--bs-gutter-y);
}

.cool-facts-title {
  color: #1d078d;
  font-family: "Bradley Hand", serif;
  text-align: center;
}

.cool-facts-container {
  min-height: 150px;
}

.cool-facts-item {
  display: flex;
  justify-content: center;

  &__text {
    height: 100px;
  }

  &__button {
    bottom: 0;
    min-height: 50px;
  }
}
